body {
  text-align: center;
  background-color: #000000;
  color: #88c6e7;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  margin:20px;
  text-transform: uppercase;
  margin: 30px;
  align-items: center;
  justify-content: center;
}

body button {
  font-size: 20px;
  font-family: inherit;
  background-color: #282828;
  color: #88c6e7;
  padding: 20px 50px;
  border:solid 1px #88c6e7 ;
  box-shadow: 0;
  border-radius: 5px;
}

.row{ display: flex; align-items: center;}

li{
  line-height:1.5em;
}

.hvr-pulse {

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

